html {
    background-color: #000;
}

h1 {
    font-size: 5rem;
    font-weight: normal;
    font-family: 'Orbitron', sans-serif;
    color: #FF9;
}

a {
    text-decoration: underline;
    color: #FF9;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}

a:hover {
    color: #CFF;
}

.ol1 {
    list-style-type: none;
    text-align: center;
    margin-bottom: 6rem;
    background-color: #069;
    padding: 1.5rem 0;
}

.ol1 li {
    display: inline;
    padding: 0.5rem
}

h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    color: #CFF;
}

p {
    color: #FFFFEB;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}

i, em {
    color: #FF9;
}

.ol2 {
    list-style: disc;
    color: #FF9;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem
}

figcaption {
    font-size: 1rem;
    color: #9CF;
    font-family: 'Source Sans Pro', sans-serif;
}

dt {
    color: #FFFFEB;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem
}
 
data {
    color: #FF9;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem
}
    
footer {
    background-color: #069;
    padding: .25rem 0 5rem .5rem;
}

h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color: #CFF;
}
    



