head {
    color: #006;
}

h1 {
    font-size: 4rem;
    font-weight: lighter;
    font-family: 'Orbitron', sans-serif;
    color: #CCFFFF;
}

a {
    text-decoration: underline;
    color: #99CCFF;
}

a:hover {
    color: #9999FF   
}

.ol1 {
     list-style-type: none;
}

